<!DOCTYPE HTML>
<html>

<head>
  <title>The New Fantasy Baseball</title>
  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" type="text/css" href="/media/css/style.css" />
  <!-- modernizr enables HTML5 elements and feature detects -->
  <script type="text/javascript" src="/media/js/modernizr-1.5.min.js"></script>
</head>

<body>
  <div id="main">
    <header>
      <div id="logo">
        <div id="logo_text">
          <h1><a href="temp"><span class="logo_colour">The New Fantasy Baseball</span></a></h1>
          <h2>A New Way To Enjoy The Game You Love</h2>
        </div>
      </div>
      <nav>
        <ul class="sf-menu" id="nav">
          <li class="selected"><a href="/temp">Home</a></li>
          <li><a href="#">League</a>
            <ul>
              <li><a href="/leagueStandings">League Standings</a></li>
              <li><a href="/messages">Messages</a></li>
              <li><a href="#">Scoring and Settings</a></li>
              <li><a href="#">Email League</a></li>
              <li><a href="#">Head to Head Stats</a></li>
            </ul>
          </li>
          <li><a href="page.html">My Team</a>
            <ul>
              <li><a href="/leagueStandings">Weekly Picks</a></li>
              <li><a href="/messages">Messages</a></li>
              <li><a href="#">Scoring and Settings</a></li>
              <li><a href="#">Email League</a></li>
              <li><a href="#">Head to Head Stats</a></li>
            </ul>
          </li>
          <li><a href="another_page.html">Weekly Matchup</a>
            <ul>
              <li><a href="#">My Matchup</a></li>
              <li><a href="#">All Matchups</a></li>
            </ul>
            </li>
          <li><a href="#">Research</a>
            <ul>
              <li><a href="#">Player Research</a></li>
              <li><a href="#">Team Research</a></li>
            </ul>
          </li>
          <li><a href="/commisionerTools">Commissioner Tools</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
      </nav>
    </header>
    <div id="site_content">
      <div class="gallery">
        <ul class="images">
          <li class="show"><img width="950" height="300" src="/media/images/1.jpg" alt="photo_one" /></li>
          <li><img width="950" height="300" src="/media/images/2.jpg" alt="seascape" /></li>
          <li><img width="950" height="300" src="/media/images/3.jpg" alt="seascape" /></li>
        </ul>
      </div>
      <div id="sidebar_container">
        <div class="sidebar">
          <h3>Latest News</h3>
          <h4>New Website Launched</h4>
          <h5>January 1st, 2012</h5>
          <p>2012 sees the redesign of our website. Take a look around and let us know what you think.<br /><a href="#">Read more</a></p>
        </div>
        <div class="sidebar">
          <h3>Standings</h3>
          <ul>
            <li><a href="#">First Link</a></li>
            <li><a href="#">Another Link</a></li>
            <li><a href="#">And Another</a></li>
            <li><a href="#">One More</a></li>
            <li><a href="#">Last One</a></li>
          </ul>
        </div>
      </div>
      <div class="content">
        {% block content %}


        {% endblock %}
      </div>
    </div>
    <footer>
      <p>Copyright &copy; The New Fantasy Baseball </p>
    </footer>
  </div>
  <p>&nbsp;</p>
  <!-- javascript at the bottom for fast page loading -->
  <script type="text/javascript" src="/media/js/jquery.js"></script>
  <script type="text/javascript" src="/media/js/jquery.easing-sooper.js"></script>
  <script type="text/javascript" src="/media/js/jquery.sooperfish.js"></script>
  <script type="text/javascript" src="/media/js/image_fade.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      $('ul.sf-menu').sooperfish();
    });
  </script>
</body>
</html>
