<!DOCTYPE HTML>
<html>

<head>
  <title>Your Wardrobe</title>
  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" type="text/css" href="/static/css/style.css" />

  
</head>

<body>
  {% load url from future %}
  <div id="main">
    <header>
      <div id="logo">
        <div id="logo_text">
          <h1><a href="temp"><span class="logo_colour">Your Wardrobe</span></a></h1>
          <h2>A New Way To Enjoy The Game You Love</h2>
        </div>
      </div>
      <nav>
        
      </nav>
    </header>
    <div id="site_content">
      <div id="sidebar_container">
        <div class="sidebar">
          <h3>Latest News</h3>
          <h4>New Website Launched</h4>
          <h5>January 1st, 2012</h5>
          <p>2012 sees the redesign of our website. Take a look around and let us know what you think.<br /><a href="#">Read more</a></p>
        </div>
        <div class="sidebar">
          <h3>Standings</h3>
          <ul>
            <li><a href="#">First Link</a></li>
            <li><a href="#">Another Link</a></li>
            <li><a href="#">And Another</a></li>
            <li><a href="#">One More</a></li>
            <li><a href="#">Last One</a></li>
          </ul>
        </div>
      </div>
      <div class="content">
        {% block content %}


        {% endblock %}
      </div>
    </div>
    <footer>
      <p>Copyright &copy; YourDrobe </p>
    </footer>
  </div>
  <p>&nbsp;</p>
  <!-- javascript at the bottom for fast page loading -->
  <script type="text/javascript" src="/static/js/jquery.js"></script>


  <script type="text/javascript" src="/static/js/jquery.easing-sooper.js"></script>
  <script type="text/javascript" src="/static/js/jquery.sooperfish.js"></script>
  <!-- modernizr enables HTML5 elements and feature detects -->
  <script type="text/javascript" src="/static/js/modernizr-1.5.min.js"></script>
  <script type="text/javascript" src="/static/js/image_fade.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      $('ul.sf-menu').sooperfish();
    });
  </script>
</body>
</html>
